<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="9589Tekdig.48172965819E8" Publisher="CN=CFF4E1F0-7817-4689-AF91-CDCDB6D2AF40" Version="1.1.0.3" />
  <mp:PhoneIdentity PhoneProductId="b3602996-f45f-4b79-9ae5-50a1d4243fbf" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>TimeSpan Calculator</DisplayName>
    <PublisherDisplayName>Tekdig</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="TimeSpanCalculator.App">
      <m3:VisualElements DisplayName="TimeSpan Calculator" Square150x150Logo="Assets\icon.png" Square44x44Logo="Assets\44.png" Description="TimeSpan Calculator calculates how much time you have spent on Earth. It calculates in Years, Hours, Minutes and in Days. Just Enter yout Date of Birth and app knows the rest. Please report if you feel any kind of bug." ForegroundText="light" BackgroundColor="transparent">
        <m3:DefaultTile Wide310x150Logo="Assets\icon 310.png" Square71x71Logo="Assets\71.png">
        </m3:DefaultTile>
        <m3:SplashScreen Image="Assets\SplashScreen.png" />
        <m3:InitialRotationPreference>
          <m3:Rotation Preference="portrait" />
        </m3:InitialRotationPreference>
      </m3:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
  </Capabilities>
</Package>